In [1]:
import pandas as pd

# Load the dataset
file_path = 'datasets/Carbon_Emission.csv'
data = pd.read_csv(file_path)

# Display the first few rows and columns information
data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Body Type                      10000 non-null  object
 1   Sex                            10000 non-null  object
 2   Diet                           10000 non-null  object
 3   How Often Shower               10000 non-null  object
 4   Heating Energy Source          10000 non-null  object
 5   Transport                      10000 non-null  object
 6   Social Activity                10000 non-null  object
 7   Monthly Grocery Bill           10000 non-null  int64
 8   Frequency of Traveling by Air  10000 non-null  object
 9   Vehicle Monthly Distance Km    10000 non-null  int64
 10  Waste Bag Size                 10000 non-null  object
 11  Waste Bag Weekly Count         10000 non-null  int64
 12  How Long TV PC Daily Hour      10000 non-null  int64
 13  How Many New Clothes Monthly   10000 non-null  int64
 14  How Long Internet Daily Hour   10000 non-null  int64
 15  Energy efficiency              10000 non-null  object
 16  Recycling                      10000 non-null  object
 17  Cooking_With                   10000 non-null  object
 18  CarbonEmission                 10000 non-null  int64
dtypes: int64(7), object(12)
memory usage: 1.4+ MB

(    Body Type     Sex         Diet How Often Shower Heating Energy Source  \
 0  overweight  female  pescatarian            daily                  coal
 1       obese  female   vegetarian  less frequently           natural gas
 2  overweight    male     omnivore  more frequently                  wood
 3  overweight    male     omnivore      twice a day                  wood
 4       obese  female   vegetarian            daily                  coal

       Transport Social Activity  Monthly Grocery Bill  \
 0        public           often                   230
 1  walk/bicycle           often                   114
 2       private           never                   138
 3  walk/bicycle       sometimes                   157
 4       private           often                   266

   Frequency of Traveling by Air  Vehicle Monthly Distance Km Waste Bag Size  \
 0                    frequently                          210          large
 1                        rarely                            9    extra large
 2                         never                         2472          small
 3                        rarely                           74         medium
 4               very frequently                         8457          large

    Waste Bag Weekly Count  How Long TV PC Daily Hour  \
 0                       4                          7
 1                       3                          9
 2                       1                         14
 3                       3                         20
 4                       1                          3

    How Many New Clothes Monthly  How Long Internet Daily Hour  \
 0                            26                             1
 1                            38                             5
 2                            47                             6
 3                             5                             7
 4                             5                             6

   Energy efficiency                               Recycling  \
 0                No                               ['Metal']
 1                No                               ['Metal']
 2         Sometimes                               ['Metal']
 3         Sometimes  ['Paper', 'Plastic', 'Glass', 'Metal']
 4               Yes                               ['Paper']

                          Cooking_With  CarbonEmission
 0                   ['Stove', 'Oven']            2238
 1              ['Stove', 'Microwave']            1892
 2               ['Oven', 'Microwave']            2595
 3  ['Microwave', 'Grill', 'Airfryer']            1074
 4                            ['Oven']            4743  ,
 None)

In [2]:
# Identify columns with lists of strings
list_columns = ['Recycling', 'Cooking_With']

# Process each column
for col in list_columns:
    # Clean the strings in the list and extract unique items
    data[col] = data[col].apply(lambda x: eval(x) if isinstance(x, str) else x)  # Convert string lists to actual lists
    unique_items = set([item for sublist in data[col] for item in sublist])
    
    # Create a new column for each unique item, indicating its presence (1) or absence (0)
    for item in unique_items:
        data[f"{col}_{item}"] = data[col].apply(lambda x: 1 if item in x else 0)

# Drop the original list columns to avoid redundancy
data_transformed = data.drop(columns=list_columns)

# Display the first few rows of the transformed dataset
data_transformed.head()

,Body Type,Sex,Diet,How Often Shower,Heating Energy Source,Transport,Social Activity,Monthly Grocery Bill,Frequency of Traveling by Air,Vehicle Monthly Distance Km,...,CarbonEmission,Recycling_Metal,Recycling_Glass,Recycling_Paper,Recycling_Plastic,Cooking_With_Microwave,Cooking_With_Stove,Cooking_With_Grill,Cooking_With_Oven,Cooking_With_Airfryer
0,overweight,female,pescatarian,daily,coal,public,often,230,frequently,210,...,2238,1,0,0,0,0,1,0,1,0
1,obese,female,vegetarian,less frequently,natural gas,walk/bicycle,often,114,rarely,9,...,1892,1,0,0,0,1,1,0,0,0
2,overweight,male,omnivore,more frequently,wood,private,never,138,never,2472,...,2595,1,0,0,0,1,0,0,1,0
3,overweight,male,omnivore,twice a day,wood,walk/bicycle,sometimes,157,rarely,74,...,1074,1,1,1,1,1,0,1,0,1
4,obese,female,vegetarian,daily,coal,private,often,266,very frequently,8457,...,4743,0,0,1,0,0,0,0,1,0

In [5]:
# Save the transformed data to a new CSV file
output_path = 'datasets/Carbon_Emission_transformed.csv'
data_transformed.to_csv(output_path, index=False)

output_path

'datasets/Carbon_Emission_transformed.csv'